doctype html
html
    head
        title="Hello Pug"
    body
        h3 Zaloguj się:
        form(action='http://pobierak.jeja.pl/images/c/b/5/51357_nieskonczona-energia.jpg')
            input(placeholder='login')
            input(placeholder='hasło')
            input(type='submit',value='Googluj')
        